.blog {
    max-width: 1360px;
    margin: 0 auto 0;
}

.blog__articles {
    max-width: 933px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 315px;
    grid-template-areas: 'a a a b b b b b'
                         'c c c b b b b b'
                         'd d d d e e e e';
}

.article {
    margin: 19px 0 0;
}

.article__small {
    max-width: 310px;
}

.small__one {
    grid-area: a;
    border-bottom: 1px solid var(--lightGrey);
}

.small__two {
    grid-area: c;
}

.article__big {
    max-width: 543px;
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-area: b;
    /*margin-left: 40px;*/
    position: relative;
}

.article__big::before {
    content: '';
    display: block;
    width: 1px;
    height: 903px;
    background: var(--lightGrey);
    position: absolute;
    top: 0;
    left: -20px;
}

.article__big::after {
    content: '';
    display: block;
    width: 1px;
    height: 1238px;
    background: var(--lightGrey);
    position: absolute;
    top: 0;
    right: -20px;
}

.article__middle {
    max-width: 427px;
}

.middle__one {
    grid-area: d;
    position: relative;
}

.middle__one::before{
    content: '';
    display: block;
    width: 893px;
    height: 1px;
    background: var(--lightGrey);
    position: absolute;
    top: -20px;
    left: 0;
}

.middle__two {
    grid-area: e;
}

.subtitle__normal {
    font: 12px 'ProximaNovaBold';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--red);
}

.subtitle__big-image {
    font: 12px 'ProximaNovaBold';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--red);
    margin: 18px 0 0;
}

.title__normal {
    font: 21px/25px '21CentBold';
    letter-spacing: 0.02em;
    color: var(--almostBlack);
    margin: 12px 0 0;
}

.title__big {
    font: 40px/40px '21CentBold';
    letter-spacing: 0.0em;
    color: var(--almostBlack);
    margin: 12px 0 0;
}

.image1 {
    width: 116px;
    height: 145px;
    background: url(../../images/image1.svg) no-repeat;
    float: right;
    margin: 40px 0 0;
}

.image2 {
    width: 115px;
    height: 78px;
    background: url(../../images/image2.svg) no-repeat;
    float: right;
    margin: 40px 0 0;
}

.image3 {
    width: 543px;
    height: 326px;
    background: url(../../images/image3.svg) no-repeat;
    order: -1;
}

.date {
    font: 12px/20px 'ProximaNova';
    color: var(--motherOfPearlLightGray);
    letter-spacing: 2px;
    display: block;
    display: flex;
    justify-content: flex-end;
    margin: 29px 0 20px;
}

.date__big {
    margin-top: auto;
}

.date__last {
    margin-top: 68px;
}