.block {
    margin: 66px 0 0 20px;
}

.block__project {
    max-width: 427px;
    min-height: 189px;
    border-top: 1px solid var(--black);
    padding: 14px 0 0;
}

.block__project + .block__project {
    margin: 21px 0 0;
} 

.background__white {
    background: var(--white);
}

.background__grey {
    background: var(--smokyWhite);
}

.image {
    float: right;
    margin: 20px 0 0 20px;
}

.probleski_port {
    background: url(../../images/probleski_port.svg) no-repeat;
    width: 97px;
    height: 97px;
    margin-right: 20px;
}

.awards_2018 {
    background: url(../../images/awards2018.svg) no-repeat;
    width: 117px;
    height: 66px;
}

.margin {
    margin-left: 16px;
    margin-right: 16px;
}