.header__tablet {
    display: none;
}

@media(max-width: 1020px) {
    .header__desktop {
        display: none;
    }

    .header__tablet {
        display: block;
        max-width: 1020px;
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--lightGrey);
    }

    .header__tablet_box {
        width: 50px;
        display: flex;
        justify-content: space-between;
    }

}