.footer {
    max-width: 1920px;
    min-width: 1021px;
    margin: 0 auto;
}

.footer__box {
    width: 100%;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
}

.footer__up {
    max-width: 1360px;
    margin: 0 auto;
    padding: 19px 0 21px;
    display: flex;
    align-items: center;
}

.footer__up_arrow {
    background: url(../../images/arrow_up.svg) no-repeat;
    width: 9px;
    height: 6px;
    margin: 0 6px 0 0;
}

.footer__up_link {
    font: 12px 'ProximaNova';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--whiteAluminum);
    text-decoration: none;
}

.footer__up_link:hover{
    text-decoration: underline;
}

.footer__lists {
    max-width: 1360px;
    margin: 19px auto 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.list__border::before {
    content: '';
    display: block;
    width: 1px;
    height: 190px;
    background: var(--lightGrey);
    position: absolute;
    top: 0;
    left: -20px;
}

@media(max-width:1020px) {
    .footer {
        max-width:1020px;
        min-width:1020px;
    }

    .footer__up {
        max-width:1020px;
        min-width:1020px;
        padding: 19px 30px 21px;
    }

    .footer__lists {
        max-width:1020px;
        min-width:1020px;
        padding: 0 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 'a b c d'
                   'e e f f';
        grid-row-gap: 60px;
    }

    .grid_a {
        grid-area: a;
    }

    .grid_a::after {
        content: '';
        display: block;
        width: 1020px;
        height: 1px;
        background: var(--lightGrey);
        position: absolute;
        bottom: -30px;
        left: 0;
    }

    .grid_b {
        grid-area: b;
    }

    .grid_c {
        grid-area: c;
    }

    .grid_d {
        grid-area: d;
    }

    .grid_e {
        grid-area: e;
    }

    .grid_e::before {
        display: none;
    }

    .grid_f {
        grid-area: f;
    }

    .grid_f::before {
        height: 130px;
    }
}

@media(max-width: 320px) {
    .footer {
        width: 100%;
        min-width: 290px;
        margin: 60px 0 0;
    }

    .footer__up {
        max-width: 100%;
        min-width: auto;
        padding: 19px 15px 21px;
    }

    .footer__lists {
        max-width: 100%;
        min-width: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) 160px;
        grid-template-areas: 'a b'
                             'c d'
                             'e f';
        grid-gap: 24px 20px;
        padding: 0 15px;
    }

    .list {
        max-width: 100%;
        min-height: auto;
        border-bottom: 1px solid var(--lightGrey);
        padding-bottom: 10px;
    }

    .list:nth-child(5),
    .list:nth-child(6) {
        border: none;
        padding: 0;
    }

    .grid_a::after {
        width: 20px;
        bottom: -1px;
        left: auto;
        right: -20px;
    }

    .grid_c::after {
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        background: var(--lightGrey);
        position: absolute;
        bottom: -1px;
        right: -20px;
    }

    .list__border::before {
        display: none;
    }
}